@charset "utf-8";

body{
	background-color:#fff;
	margin:auto;
	text-align: center;
}
html {overflow-x:hidden;}
a{text-decoration: none;}
.clear:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.clear{
	zoom:1;
}
.wrap{
	width:1200px;
	margin:auto;
}
/*首页样式开始*/
.contain{
	width:100%;
	margin:auto;
}
/*轮播图样式*/
/*开始*/
#playBox{
	margin:0 auto;
	height:490px;
	position:relative;
	width:100%;
	overflow:hidden;
	background-color:#f5f5f5;
}
#playBox  li{ 
	float:left;
}
#playBox  .oUlplay_a{
	display: block;
	width: 100%;
	height:450px;
}
.dots {
	width: 100%;
	position: absolute;
	bottom:52px;
	text-align: center;
	left:46%;
}
.dots li {
	float:left;
	width: 30px;
	height: 2px;
	margin-right: 15px;
	overflow: hidden;
	cursor: pointer;
	color: #dddddd;
	background: #bfebfd;
}
.dots li:last-child {
	margin-right: 0;
}
.dots li.active {
	background: #fff;
	color:#f5572d;
}
/*结束*/
/*音乐风格样式*/
/*开始*/
.musicStyle{
	/*height:500px;*/
	margin:auto;
}
.title,.title2{
	font-size:50px;
	color:#333;
	width:500px;
	margin:62px auto 0 auto;
}
.title2{
	margin:90px auto;
}
.line,.line2{
	padding:0 20px 0;
    margin:24px 0;
    line-height:1px;
    border-left:70px solid #999;
    border-right:70px solid #999;
    text-align: center;
}
.line2{
    border-left:70px solid #dfdfdf;
    border-right:70px solid #dfdfdf;
}
.styleImg{
	margin:88px auto;
}
.styleImg a{
	display: inline-block;
	*display:inline;
	*zoom:1;	
	text-decoration: none;
	width:180px;
	height: 218px;
	box-sizing: border-box;	
}
.styleImg a:not(:last-child) {
	margin-right:18px;
}
.styleImg span{
	display: inline-block;
	*display:inline;
	*zoom:1;
	margin-top:20px;
	font-size: 20px;
	color:#333;
}
/*结束*/
/*精选专辑样式*/
/*开始*/
.Album{
	height:790px;
	width:100%;
	background: url("../images/AlbumBg.png") left top no-repeat;
	background-size:cover;
	position: relative;
	padding-top:14px;
}
.tab {
	width: 100%;
	position: absolute;
	bottom:80px;
	text-align: center;
	left:46%;
}
.tab li {
	float:left;
	width: 30px;
	height: 2px;
	margin-right: 15px;
	overflow: hidden;
	cursor: pointer;
	color: #dddddd;
	background: #bfebfd;
}
.tab li:last-child {
	margin-right: 0;
}
.tab li.active {
	background: #fff;
	color:#f5572d;
}
.con{
    width:100%;
}
.person{
	font-size:0;
}
.person a{
	display: inline-block;
	*display:inline;
	*zoom:1;	
	text-decoration: none;
	width:300px;
	height:  458px;
	box-sizing: border-box;	
	background-color: #fff;
	overflow: hidden;
	color:#333;
	font-size:16px;
}
.musicMsg {
	height:150px;
	width:100%;
}
.musicMsg p{
	color:#333;
	text-align: center;
}
.Bg{
	background-color: #f0f0f0 !important;
}
/*结束*/
/*最新推荐样式*/
/*开始*/
.LatestRe{
	width:100%;
	height:856px;
	background: url("../images/LatestBg.png") left top no-repeat;
	background-size:cover;
	position: relative;
    overflow: hidden;
}
.playerMain{
	width: 100%;
	height:600px;
	transition:all 0.2s;
	position: relative;
	top:30px;
	*top:-30px;
	box-shadow: 2px 2px 5px 5px #ccc;
	background-color: #f3f3f3;
	overflow: hidden;
}
.middle{
	position: absolute;
	top: 56px;
	*left:0;
	bottom: 80px;
	width: 100%;
}
.mainWrap{
	position: relative;
	padding:0 310px 0 240px;
	height: 100%;
}
/*播发列表*/
.mainBody{height: 100%;}
/*专辑信息*/
.mainOuther{
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	padding-right: 20px;
	height: 100%;
}
.albumCover{
	width: 250px;
	height: 185px;
	padding-top: 20px;
	text-align: center;
}
.albumSale{
	width: 250px;
	height: 42px;
	padding: 5px 0;
	text-align: center;
}
.asA{
	display: block;
	width: 130px;
	height: 40px;
	overflow: hidden;
	padding-left: 40px;
	border-radius: 4px;
	border:1px solid #e0e0e0;
	margin: 0 auto;
	background-color: #ff7b00;
}
.playHd{
	width:100%;
	height: 54px;
	line-height: 54px;
	padding-top: 9px;
	position: absolute;
	top: -56px;
	*lefT:0;
	border-bottom: 1px solid #ccc;
	background: #ebebeb;
	font-size:14px;
	color:#333;
	background:-moz-linear-gradient(top, #f6f6f6, #f6f6f6);
	background:-webkit-linear-gradient(top, #f6f6f6, #e4e4e4);
	background:-ms-linear-gradient(top, #f6f6f6, #e4e4e4);
	background:linear-gradient(top, #f6f6f6, #e4e4e4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f6f6f6, endColorstr=#e4e4e4)";
	+background:#f2f2f2;
}
.phInner{
	height: 100%;
	width:1200px;
	overflow: hidden;
}
.phInner .col{
	width: 18%;
	border-right:1px solid #dfdfdf;
}
.phInner .col:last-child{
	border-right:1px solid transparent;
}
.col{
	width: 20%;
	height: 100%;
	float: left;
	line-height: 54px;
	text-align: center;
	color: #333;
	font-size: 16px;
}
.playBd{
	width:100%;
	position: absolute;
	top: 10px;
	*lefT:0;
	bottom: 60px;
}
.scrollView{
	height: 100%;
	width: 100%;
	position: relative;
	outline: 0;
	-webkit-user-drag:none;
}
.songUL{
	width: 100%;
	height: 100%;
}
.songList{
	width: 100%;
	color: #333;
	border-bottom: 1px solid #dfdfdf;
	position: relative;
}
.start,.xuHao{
	line-height: 41px; 
	text-align: center; 
	position: absolute;
	width: 36px;
	height: 41px;
	left: -38px;
	top: 0;
	text-align: center;
}
.xuHao{left:16px;width:6%;}
.start em,.xuHao em{
	font-style: normal;
	font-family: Arial;
	color: #aaa;
	font-size: 12px;
}
.xuHao em{
	font-size:14px;
	color:#333;
}
.songBd{
	height: 44px;
	line-height: 44px;
	padding: 0 17px 0 100px;
	width: 1080px;
}
.songBd .col{
	color: #333;
	line-height: 44px;
}
.col{cursor: default;}
.cicon{
	cursor: pointer; 
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top:11px;
}
.love{
	right: 182px;
	*top:0;
}
.love img{
	vertical-align:top;
}
.track{
	height: 30px;
	width: 100%;
	line-height: 30px;
	position: relative;
	padding-left: 38px;
}
/*底部按键*/
.bottom{
	width: 100%;
	height: 84px;
	background:url("../css/images/gradientBg.png") repeat;
	position: relative;
	top:-54px;
	*top:-75px;
}
.playerWrap{
	position: relative;
	height: 100%;
	padding-left: 278px;
	padding-right: 330px;
	*padding-left:0;
	*padding-right:610px;
}
.playerCon{
	position: absolute;
	top: 10px;
	left: 0;
	width: 278px;
	height: 100%;
}
.pbtn{
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
}
.prevBtn{
	top: 25px;
	left: 38px;
	background: url("../css/images/prevBtn.png") no-repeat;
}
.playBtn{
	top:20px;
	left: 86px;
	width:45px;
	height:45px;
	background: url("../css/images/pauseBtn.png") no-repeat;
}
.nextBtn{
	background: url("../css/images/nextBtn.png") no-repeat;
	top:25px;
	left: 144px;
}
.mode{
	display: block;
	width:20px;
	height: 18px;
	position: absolute;
	top: 31px;
	left: 202px;
	background:url("../css/images/xunhuan.png");
}
.playInfo {
	height:100%;
	position:relative;
	top:10px;
}
.trackInfo {
	position:absolute;
	width:100%;
	height:18px;
	line-height:18px;
	top:20px;
	color:#fff;
}
.trackInfo a {
	color:#333;
	font-size:14px;
	text-decoration:none;
}
.trackCon {
	float:right;
	width:100px;
	height:18px;
}
.songName,.songPlayer {
	float:left;
}
.playerLength {
	width:100%;
	height:20px;
	font-size:10px;
	position:absolute;
	top:43px;
}
.position {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	left:0;
	color:#333;
}
.duration {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	right:0;
	color:#333;
	text-align:right;
}
.progress {
	position:absolute;
	left:40px;
	right:40px;
	height:18px;
}
.pro1,.pro2 {
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
.dian,.dian2 {
	display:block;
	width:10px;
	height:18px;
	position:absolute;
	top:4px;
	background:url("../css/images/dian.png") no-repeat;
}
.dian2 {
	left:79px;
}
.vol {
	position:absolute;
	top:10px;
	right:0;
	width:270px;
	height:100%;
}
.pinBtn {
	display:block;
	position:absolute;
	top:28px;
	right:176px;
	width:80px;
	height:32px;
}
.volm {
	position:absolute;
	width:110px;
	height:18px;
	top:31px;
	*lefT:0;
	right:120px;
}
.volSpeaker {
	position:absolute;
	width:18px;
	height:18px;
	*left:0;
	background:url("../css/images/laba.png") no-repeat;
}
.volControl {
	position:absolute;
	left:24px;
	width:80px;
	height:18px;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
/*歌曲列表效果*/
.start em{
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
	margin: 11px 9px;
	background: url("../css/images/play.png") 0 0;
	line-height: 18px;
	color:transparent;
}
/*结束*/
/*首页样式结束*/


/*注册页面样式*/
/*开始*/
.registered{
	width:100%;
	height:820px;
	background: url("../images/registeredBg.png") left top no-repeat;
	background-size:cover;
	position: relative;
	overflow: hidden;
}
.UserRe{
	width:100%;
	height:590px;
	background: #fff;
	margin-top:106px;
	border-radius: 6px;
}
.UserTitle{
	height:56px;
	border-bottom:1px solid #dfdfdf;
	line-height: 56px;
	font-size:18px;
	color:#333;
	text-align: left;
	padding-left:30px;
}
.UserCover{
	margin:46px 0 0 66px;
}
.UserCover li{
	float:left;
	width:196px;
	text-align: left;
}
.msgLeft{
	float:left;
	width:496px;
}
.msgRight{
	float:left;
	margin-left:50px;
}
.UserCover a,.UserCover span,.icon_user{
	display: inline-block;
	*display: inline;
	*zoom:1;
}
.UserCover .tabNav2{
	height:40px;
	*margin-bottom:20px;
}
.UserCover .tabNav2 li a{	
	width:100%;
	text-decoration: none;
	font-size:18px;
	color:#333;
}
.UserCover .tabNav2 li a.active{
	color:#3d86f8;
}
.UserCover .tabNav2 span{
	width:22px;
	height:22px;
	border-radius: 50%;
	background-color: #333;
	vertical-align: middle;
	font-size:10px;
	line-height: 22px;
	color:#fff;
	margin-right:4px;
	text-align: center;
}
.UserCover .tabNav2 span.bg{
	background-color: #3d86f8;
}

.inputUser{
	width:330px;
	height:40px;
	border:1px solid #dfdfdf;
	border-radius: 6px;
	margin:20px auto auto 44px;
}
.icon_user,.icon_code,.icon_lock,.icon_email,.icon_unit,.icon_style{
	width:30px;
	height:30px;
	background: url(../images/iconUser.png) left top no-repeat;
	background-size:cover;
	vertical-align: middle;
	float:left;
	margin:6px 0 0 12px;
}
.icon_code{
	background: url(../images/iconCode.png) left top no-repeat;
	background-size:cover;
}
.icon_lock{
	background: url(../images/iconLock.png) left top no-repeat;
	background-size:cover;
}
.icon_email{
	background: url(../images/iconEmail.png) left top no-repeat;
	background-size:cover;
}
.icon_unit{
	background: url(../images/iconUnit.png) left top no-repeat;
	background-size:cover;
}
.icon_style{
	background: url(../images/iconStyle.png) left top no-repeat;
	background-size:cover;
}
.regIp{
	width: 256px;
    height: 32px;
    padding: 0 0 0 5px;
    _padding: 8px 0 0 5px;
    _height: 22px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 32px;
    outline:none;
    float:left;
    margin:4px 0 0 12px;
    border:0 none;
    color:#666;
}
.con2{
	/*margin-top:40px;*/
	margin-top:0;
}
.yanCode{
	width:100px;
}
.inputUser input[type="button"]{
	letter-spacing:2px;
	width:100px;
	height:40px;
	background-color: #3d86f8;
	border:0 none;
	outline:none;
	color:#fff;
	font-size:14px;
	border-radius: 6px;
}
#code{
	position: absolute;
	top:0;
	right:-110px;
}
.agree{
	text-align: left;
	margin:14px 0 0 50px;
}
.agree  a{
	text-decoration: none;
}
input[type="checkbox"]{
	margin-right:4px;
}
.onceStep{
	width:330px;
	height:40px;
	line-height: 40px;
	font-size:20px;
	text-align: center;
	background-color: #3d86f8;
	color:#fff;
	border-radius: 6px;
	margin:36px auto auto auto;
	cursor:pointer;
}
.select{
	width:330px;
	margin:30px 0 0 44px;
	height:60px;
	width:342px\9;
	*margin-left:-62px;
}
.gf-select {
	display:inline-block;
	*display:inline;
	*zoom:1;
	float: left;
	width: 100px;
	position: relative;
	margin-right:14px;
}
.gf-select:last-child{
	margin-right:0;
}
.gf-select span {
	width: 70px;
	padding: 8px 15px 8px 10px;
	display: block;
	border: 1px solid #ddd;
	cursor: pointer;
	border-radius: 6px;
}
.gf-select span em {
	font-style: normal;
	font-size:14px;
}
.gf-select .icon-jt {
	background: url(../images/down-jt.jpg) center right no-repeat;
	width: 12px;
	height: 6px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3px;
}
.gf-select ul {
	border: 1px solid #ddd;
	position: absolute;
	width: 100%;
	top: 31px;
	*lefT:0;
	overflow-y :auto;
	display: none;
	background: #fff;
}
.gf-select ul li {
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	padding-left: 10px;
	font-size:14px;
}
.gf-select ul li:last-child{ 
	border-bottom: none;
}
.SelectUnits .icon-jt {
	background: url(../images/down-jt.jpg) center right no-repeat;
	width: 12px;
	height: 6px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3px;
}
 .SelectUnits {
 	border:1px solid #dfdfdf;
 	border-radius: 6px;
 	height:40px;
 	line-height: 40px;
 	display:inline-block;
	*display:inline;
	*zoom:1;
	float: left;
	width: 330px;
	position: relative;
	margin:0 14px 24px 44px;
	 *margin-bottom:0;
	color: #666;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
	 position: relative;
}
.SelectUnits span{ 
	display:inline-block; 
	width:258px; 
	height:36px; 
	line-height:36px; 
	cursor:pointer; 
	text-indent:10px;
	color: #666;
}
.SelectUnits ul{ 
	width:330px; 
	position:absolute; 
	top:36px; 
	left:-1px;
	z-index:999;
	border:1px solid #dfdfdf;
	display:none; 
	background:#fff;
}
.SelectUnits li{ 
	width:100%;
	cursor:pointer; 
	line-height:36px; 
	text-indent:10px;
} 
.SelectUnits li:hover{
	 background:#39F; 
	 color:#fff;
}
.success {
	width:500px;
}
.success .picRight{
	display: inline-block;
	*display: inline;
	*zoom:1;
	
	width:44px;
	height:44px;
	background: url('../images/rightIcon2.png') center center no-repeat;
	vertical-align: middle;
	margin-left:10px;
}
.errTip1,
.errTip2,
.errTip3,
.errTip4,
.errTipTab1,
.errTipTab2,
.errTipTab3,
.errTipTab4{
	width:330px;
	position: absolute;
	top:242px;
	margin-left:50px;
	*margin-left:0;
	text-align: left;
	color:#fe4e4e;
	*line-height:24px;
	display: none;
}
.errTip2{
	top:310px;
}
.errTip3{
	top:372px;
}
.errTip4{
	top:434px;
}
.errTipTab1{
	top:317px;
}
.errTipTab2{
	top:380px;
	*margin-left:-344px;
	*top:380px;
}
.errTipTab3{
	top:447px;
	*top:443px;
	*margin-left:0;
}
.errTipTab4{
	top:507px;
	*top:500px;
	*margin-left:0;
}
.marginB{
	*margin-bottom:20px !important;
}
/*结束*/
/*关于我们页面样式*/
/*开始*/
.aboutUs{
	height:688px;
	width:100%;
	background: url("../images/aboutUs.png") left top no-repeat;
	background-size:cover;
}
/*结束*/
/*会员中心页面样式*/
/*开始*/
.member{
	width:100%;
	height:970px;
	margin:auto;
	background: url('../images/memberBg.png') left top no-repeat;
	background-size:cover;
	position: relative;
}
.whiteBg{
	width:100%;
	height:590px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top:340px;
	*left:0;
}
.Kai{
	margin:50px 56px;
}
.kaiTong{
	float:left;
	width:360px;
	height:488px;
	border:1px solid #c2a65c;
}
.kaiTong p{
	font-size:18px;
	color:#333;
	padding:0 50px;
	line-height:30px;
}
.pTitie{
	margin-top:94px;
}
.num{
	font-size:50px;
}
.kaiTong a{
	display: block;
	width:186px;
	height:42px;
	border-radius: 6px;
	background-color: #c5a75f;
	border:1px solid #c5a75f;
	color:#fff;
	line-height:42px;
	text-align: center;
	font-size:20px;
	margin:auto;
	margin-top:52px;
}
.king{
	margin-top:26px;
	position: relative;
}
.dingwei{
	width:90px;
	position: absolute;
	top:53px;
	left:134px;
	color:#c5a75f;
	font-weight: bold;
}
.kaiTong a.aBorder{
	background-color: transparent;
	color:#c5a75f;
}
.borderR{
	border-right:none;
}
.marginT{
	margin-top:52px;
}
/*弹框样式*/
.meng2,
.meng22{
	background: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 1000;
    display: none;
}
.kaiMsg,
.kaiMsg2{
	position: relative;
	z-index:1002;
}
.kaiMsg .imgbox,
.kaiMsg2 .imgbox2{
	display: inline-block;
	display: none;
}
.kaiMsg  .currentimg,
.kaiMsg2  .currentimg{
	position: fixed;
    left: 50%;
    top: 50%;
}
.kaiCover,
.kaiCover2{
	width:900px;
	min-height:300px;
	background: #fff;
	border-radius: 6px;
}
.kaiMsg .UserTitle,
.kaiMsg2 .UserTitle{
	padding-left:70px;
	background-color: #f9f9f9;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.UserTitle  span.bao{
	color:#c5a75f;
	font-weight: bold;
	padding-right:16px;
	font-size:18px;
	float:left;
}
.kaiContain,
.kaiContain2{
	width:100%;
	height:184px;
	background-color: #f9f9f9;
	overflow: hidden;
	padding-top:48px;
}
.kaiContain li,
.kaiContain2 li{
	position:relative;
	float:left;
	width:156px;
	height:156px;
	border-radius: 6px;
	border:1px solid #dfdfdf;
	margin-right:48px;
	background-color: #fff;
}
.kaiContain li.borderColor,
.kaiContain2 li.borderColor{
	border:1px solid #c5a75f;
}
.rightIcon,
.rightIcon2{
	position: absolute;
    *top:0;
	right:0;
	width:26px;
	height:26px;
	background: url('../images/rightIcon.png') right  top   no-repeat;
}
.kaiContain li p,
.kaiContain2 li p{
	color:#333;
	font-size:18px;
	text-align: center;
}
.kaiContain li b,
.kaiContain2 li b{
	font-size:26px;
}
.money,
.money2{
	margin-top:20px;margin-bottom:26px;
	margin:20px 0 26px 0;
}
.changeNum,
.changeNum2{
	height:40px;
	padding-left:70px;
	text-align: left;
	background-color: #f9f9f9;
}
.kaiContain button,
.kaiContain2 button{
	width:40px;
	height:40px;
	line-height: 40px;
	display: inline-block;
	*display:inline;
	*zoom:1;
	text-align: center;
	position: absolute;
	left:0;
	outline:none;
	background-color: #fafafa;
	border:1px solid #dfdfdf;
}
.kaiContain2 button{
	*width:34px;
	*height:34px;
	*line-height: 34px;
}
.kaiContain2 button.left122{
	left:116px;
	*left:122px;
}
.applyStyle,
.applyStyle2{
	height:240px;
	padding-left:70px;
}
.applyStyle p,
.applyStyle2 p{
	text-align: left;
	color:#333;
	font-size:18px;
}
.style,
.style2{
	margin:30px 0 26px 0;
}
.choiceStyle a,.applyBtn,
.choiceStyle2 a,.applyBtn2{
	display: inline-block;
	*display: inline;
	*zoom:1;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 6px;
	text-decoration: none;
}
.choiceStyle a,
.choiceStyle2 a{
	position: relative;
	width:142px;
	color:#333;
	border:1px solid #dfdfdf;
}
.choiceStyle a.borderColor,
.choiceStyle2 a.borderColor2{
	border:1px solid #c5a75f;
}
.applyBtn,
.applyBtn2{
	width:184px;
	font-size:18px;
	color:#fff;
	background-color: #c5a75f;
	border:1px solid #c5a75f;
	margin-top:56px;
}
/*结束*/